

.empty-search-button {
    margin-bottom: 0.2rem;
    align-self: flex-end;
}

@media (max-width:1439px) {
    .empty-search-button {
        margin-bottom: 0.2rem;
        align-self: flex-end;
        font-size: medium;
    }
}