.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-fields {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 1439px) {
  .input-fields {
    gap: 0.5rem;
    font-size: var(--ds-font-size-3);
  }
}

