




.table-div {
    max-height: 75vh;
    overflow-y: auto;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.textfield-div{
    flex:1;
    min-width: 0;
}

.textfield-div input {
  width: 100%;
  min-width: 70%;
  padding: 1rem;
}
