

.errorMessage {
    font-size: 18px;
}

:global([data-color-scheme="dark"] .Toastify__toast--error)
{
    background-color: #7a1f1f;
    color: var(--ds-color-text-default);
}

:global([data-color-scheme="light"] .Toastify__toast--error)
{
    background-color: #f7f7f8;
    color: var(--ds-color-neutral-text-subtle);
}
