

.errorMessage {
    font-size: 18px;
}

:global([data-color-scheme="dark"] .Toastify__toast--error)
{
    background-color: #772222;
    color: var(--ds-color-text-default);
}

:global([data-color-scheme="light"] .Toastify__toast--error)
{
    background-color: #f7f7f8;
    color: var(--ds-color-neutral-text-subtle);
}

:global([data-color-scheme="light"] .Toastify__progress-bar--error)
{
    background: #E74D3C;
}

:global([data-color-scheme="dark"] .Toastify__progress-bar--error)
{
    background: #E74D3C;
}