.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inputFieldContainer {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.inputField {
  flex: 1;
  max-width: 320px;
}

.removeButton {
  margin-top: auto;
  min-width: 2.5rem;
  align-self: flex-start;
}

.addButton {
  margin-top: 1rem;
  align-self: flex-start;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}
