.heading {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.formContainer {
  flex: 0 0 30%;
  min-width: 0;
}

.formContainer > * {
  margin-top: 0.5rem;
}

.responseContainer {
  flex: 0 0 70%;
  min-width: 0;
}

.checkbox {
  margin-bottom: 1rem;
}

.checkboxLabel {
  display: block;
  margin-top: 1rem;
}

.messageField {
  margin-bottom: 1rem;
}
