.dashboard-page-container {
  height: 100%;
  overflow-y: auto;
  padding-right: 2rem;
}

.dashboard-container {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.org-list-container {
  flex: 2;
  min-width: 25%;
  max-width: 40%;
}
.detailed-org-container {
  flex: 8;
  min-width: 30%;
}

.infoButton {
  margin-bottom: -1.5rem;
  height: 30px;
  min-height: 0;
  width: 20px;
  min-width: 0;
  margin-left: auto;
}
