
.input-row {
    display: flex;
    flex: 1;
    width: 80%;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

@media (max-width:1439px) {
    .input-row {
        margin-bottom: 1rem;
    }
}

.result-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

@media (min-width:1024px){
    .result-area {
        max-height: 70vh;
    }
}

.infoButton {
  margin-top: -2rem;
  margin-bottom: 1rem;
  height: 30px;
  min-height: 0;
  width: 20px;
  min-width: 0;
  margin-left: auto;
}


