

.input-row {
    display: flex;
    flex: 1;
    width: 80%;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}


@media (min-width:1440px){
    .result-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
}

@media (min-width:1024px){
    .result-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 67vh;
    }
}