.heading {
  margin-bottom: 1rem;
}

.container {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.filterRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.sendersReferenceFilter {
  min-width: 25rem;
}