@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* Global Styles */
* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
  height: 100%;
  overflow: hidden;
}

/* Wrapper */
.app-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Main Content Styling */
.main-content {
  flex-grow: 1;
  padding: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Organization List and Details */
.results-section {
  display: flex;
  flex-grow: 1;
  gap: 20px;
  overflow: hidden;
}

.org-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  transition: all 0.5s ease;
}

.org-list.hidden {
  opacity: 0;
  width: 0;
  visibility: hidden;
}

.org-details {
  flex: 2;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
  overflow-x: auto;
  transition: all 0.5s ease;
}

.org-details.full-width {
  flex: 1;
  width: 100%;
}
