@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* Global Styles */
* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
  height: 100%;
  overflow: hidden;
}

/* Wrapper */
.app-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;

  background-color: var(--ds-color-neutral-background-tinted);
}

/* Main Content Styling */
.main-content {
  flex-grow: 1;
  padding: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
