/* Base nav button */
.navButton {
  display: block;
  position: relative;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #ffffff;
}

.navButtonCollapsed {
  width: 70px;
  min-width: 70px;
}

.navButton:not(.navButtonSelected):hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Selected state */
.navButtonSelected {
  background-color: var(--ds-color-neutral-background-tinted);
  color: var(--ds-color-accent-text-default);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -32px;
  padding-right: 32px;
  width: calc(100% + 20px);
}
