.sidebarWrapper {
  position: relative;
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  height: 100vh;
  position: relative;
  transition:
    width 0.3s ease,
    min-width 0.3s ease;
  background-color: var(--ds-color-accent-base-default);
  overflow: hidden;
}

[data-color-scheme="dark"] .sidebar {
  background-color: var(--ds-color-surface-default);
}

.collapsed {
  width: 70px;
  min-width: 70px;
}

.expanded {
  width: 250px;
  min-width: 250px;
}

.dragHandle {
  position: absolute;
  top: 50%;
  left: 97%;
  transform: translateY(-50%);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  cursor: ew-resize;
  transition: all 0.2s ease;
  background-color: var(--ds-color-background-tinted);
  border: 2px solid var(--ds-color-accent-base-default);

  z-index: 10;
}

.dragHandle:hover {
  transform: translateY(-50%) scale(1.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.logoBox {
  text-align: center;
  margin-bottom: 12px;
}

.logoImg {
  height: auto;
  transition: width 0.3s ease;
}

.logoCollapsed {
  width: 40px;
}

.logoExpanded {
  width: 150px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1rem;
}

.collapseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.collapseButton {
  height: 36px;
  background-color: transparent;
  border-radius: 18px;
  padding: 6px 12px;
  font-size: var(--ds-font-size-3);
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s ease;
}

.collapseButton:hover {
  background-color: var(--ds-color-accent-base-hover);
}

[data-color-scheme="dark"] .collapseButton:hover {
  background-color: var(--ds-color-accent-surface-hover);
}

.divider {
  margin: 16px 0;
  height: 1px;
  border: none;
  background-color: #f3f3f4;
}

.userInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--ds-color-text-default);
  color: #fff;
  font-size: var(--ds-font-size-4);
}

.icons {
  font-size: 1.5rem;
}

.envToggleContainer{
  margin-top: auto;
  margin-bottom: -01rem;
}

.logoutButton {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

[data-color-scheme="light"] .logoutButton {
  background-color: var(--ds-color-surface-default);
  color: var(--ds-color-text-default);
}

[data-color-scheme="dark"] .logoutButton {
  background-color: var(--ds-color-neutral-surface-default);
  color: var(--ds-color-text-default);
  border-color: var(--ds-color-text-subtle);
  border-width: 0.1px;
}

@media (max-width: 1439px) {
  .expanded {
    width: 200px;
    min-width: 200px;
  }
  .userInfo {
    font-size: var(--ds-font-size-3);
  }
  .nav {
    font-size: var(--ds-font-size-3);
  }

  .collapseButton {
    font-size: var(--ds-font-size-1);
  }

  .logoutButton {
    font-size: var(--ds-font-size-3);
  }
}
