.container {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-style: italic;
}

.time {
  font-size: var(--ds-font-size-6);
}

.date {
  font-size: var(--ds-font-size-4);
}

@media (max-width: 1439px) {
  .time {
    font-size: var(--ds-font-size-4);
  }
  .date {
    font-size: var(--ds-font-size-3);
  }
}
