.wrapper {
  padding: 1.5rem;
}

.wrapper > * {
  margin-bottom: 1rem;
}

.section {
}

.description {
  font-style: italic;
}

.sectionTitle {
  font-size: 1.1rem;
}

.informationIcon {
  height: 32px;
  width: 32px;
}

.section > * {
  margin-bottom: 1rem;
}
.patInputWrapper {
  display: flex;
  gap: 0.25rem;
}

.patInputField {
  flex: 1;
}

.patgeneratewrapper {
  display: flex;
}

.patActionButtonsWrapper {
  display: flex;
  gap: 0.25rem;
}
