/* Basic Reset */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;

    box-sizing: border-box;
}

body, html {
    font-family: "Inter", sans-serif;
    height: 100%;
    background-color: #fefefe; /* Neutral Background Default */
    overflow: hidden; /* Prevent the whole page from scrolling */
}

/* Wrapper */
.app-wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar Styling */
.sidebar {
    width: 250px;
    min-width: 250px;
    background-color: #004a70; /* Base Default (Accent) */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.nav {
    flex-grow: 1;
}

.nav-button {
    width: 100%; /* Extend the button beyond the edge */
    padding: 15px;
    font-size: 18px;
    background-color: #004a70;
    color: #eef4fa; /* Base Default (Accent) */
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

    .nav-button.selected {
        background-color: #eef4fa; /* Background Subtle (Accent) */
        width: calc(100% + 20px); /* Extend the button beyond the edge */
        padding-right: 35px; /* Offset padding to keep alignment */
        color: #004a70; /* Base Default (Accent) */
        margin: 10px -0px; /* Offset margin to keep alignment */
        box-shadow: none;
        border-radius: 30px 0 0 30px; /* Rounded edges on the right side */
        position: relative;
        z-index: 1;
    }

    .nav-button:hover {
        background-color: #d1e3f3; /* Surface Default (Accent) */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

.environment-selector {
    position: relative;
    cursor: pointer;
    background-color: #bad5ec; /* Surface Hover (Accent) */
    color: #004a70; /* Base Default (Accent) */
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

    .environment-selector:hover {
        background-color: #015097; /* Base Hover (Accent) */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    }

.env-dropdown {
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
}

.env-dropdown-item {
    display: block;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s;
}

    .env-dropdown-item:hover {
        background-color: #f0f0f0; /* Background Subtle (Neutral) */
    }

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: auto;
}

.profile-name {
    margin-bottom: 10px;
    font-size: 16px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    background-image: url('https://avatars.githubusercontent.com/u/89974012?v=4');
    border-radius: 50%;
    border: 2px solid #004a70; /* Base Default (Accent) */
    background-size: cover;
}

/* Main Content Styling */
.main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ensure the content doesn't cause a page-wide scroll */
}

.search-container {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

/* Organization List and Details */
.results-section {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    overflow: hidden;
}

.org-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    transition: all 0.5s ease; /* Smooth transition for hiding */
}

    .org-list.hidden {
        opacity: 0;
        width: 0;
        visibility: hidden;
    }

.org-details {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    overflow-x: auto;
    transition: all 0.5s ease; /* Smooth transition for expanding */
}

    .org-details.full-width {
        flex: 1;
        width: 100%;
    }

.org-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.org-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

    .org-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    .org-card.selected {
        border: 2px solid #0163ba; /* Base Default (Accent) */
    }

.expand-button {
    position: absolute;
    top: 10px;
    right: 10px;
    
  color: black;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subunits {
    margin-left: 20px;
    margin-top: 10px;
}

.subunit-card {
    margin-left: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #0072b1; /* Border Default (Accent) */
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

    .subunit-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    .subunit-card h4 {
        margin: 0 0 5px 0;
        font-size: 16px;
        color: #0163ba; /* Text Default (Accent) */
    }

    .subunit-card p {
        margin: 0;
        font-size: 14px;
    }

.contact-table, .roles-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto;
}

    .contact-table th, .contact-table td,
    .roles-table th, .roles-table td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .contact-table th, .roles-table th {
        background-color: #2f86c9;
        color: #ffffff;
    }

/* Transition for Roles View */
.org-details.full-width {
    animation: slideIn 0.2s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
