.tableContainer {
  margin-bottom: 2rem;
  box-shadow: var(--ds-shadow-sm);
  overflow-x: auto;
}

.table {
  width: 100%;
  table-layout: auto;
}

.tableTitle {
  font-size: var(--ds-font-size-6);
}

.tableCell {
  overflow-wrap: break-word;
}

@media (min-width: 1024px) {
  .tableCell {
    font-size: var(--ds-font-size-3);
  }

  .tableHeaderCell {
    font-size: var(--ds-font-size-3);
  }
}

@media (min-width: 1440px) {
  .tableCell {
    font-size: var(--ds-font-size-4);
  }

  .tableHeaderCell {
    font-size: var(--ds-font-size-4);
  }
}
@media (min-width: 1800px) {
  .tableCell {
    font-size: var(--ds-font-size-5);
  }
  .tableHeaderCell {
    font-size: var(--ds-font-size-5);
  }
}

.tableHeaderCell {
  cursor: pointer;

  word-break: break-all;
}
