.container {
  max-height: 40vh;
  overflow: auto;
  box-shadow: var(--ds-shadow-sm);
}
.heading {
  margin-bottom: 0.5rem;
}

.paragraph {
  text-align: center;
  font-size: var(--ds-font-size-2);
}
.header-font {
  font-size: var(--ds-font-size-2);
}
.cell-font {
  font-size: var(--ds-font-size-2);
}

@media (min-width: 1024px) {
  .container {
    overflow: auto;
    min-width: 40vw;
  }

  .paragraph {
    font-size: var(--ds-font-size-3);
  }

  .header-font {
    font-size: var(--ds-font-size-3);
  }
  .cell-font {
    font-size: var(--ds-font-size-3);
  }
}

@media (min-width: 1440px) {
  .paragraph {
    font-size: var(--ds-font-size-4);
  }

  .header-font {
    font-size: var(--ds-font-size-4);
  }
  .cell-font {
    font-size: var(--ds-font-size-4);
  }
}
@media (min-width: 1800px) {
  .paragraph {
    font-size: var(--ds-font-size-5);
  }

  .header-font {
    font-size: var(--ds-font-size-5);
  }
  .cell-font {
    font-size: var(--ds-font-size-5);
  }
}
