.container {
  max-height: 40vh;
  box-shadow: var(--ds-shadow-sm);
}

@media (min-width: 1024px) {
  .container {
    overflow: auto;
    min-width: 40vw;
  }
}

.heading {
  margin-bottom: 0.5rem;
}

@media (min-width: 1024px) {
  .paragraph {
    text-align: center;
    font-size: 0.9rem;
  }
}

@media (min-width: 1440px) {
  .paragraph {
    text-align: center;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .header-font {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .header-font {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .cell-font {
    font-size: 0.8rem;
  }
}
@media (min-width: 1440px) {
  .cell-font {
    font-size: 1.2rem;
  }
}
