.container {
  flex-basis: 50%;
}

.table {
  max-width: 100%;
}

.cellText {
  font-size: var(--ds-font-size-2);
}

.tableCell {
  font-size: var(--ds-font-size-2);
}

@media (min-width: 1024px) {
  .cellText {
    font-size: var(--ds-font-size-3);
  }

  .tableCell {
    font-size: var(--ds-font-size-3);
  }
}
@media (min-width: 1440px) {
  .cellText {
    font-size: var(--ds-font-size-4);
  }

  .tableCell {
    font-size: var(--ds-font-size-4);
  }
}
