.partiesCard {
  margin: 0.5rem 0 1.5rem 0;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--ds-shadow-sm);
}

.partiesTable {
  margin-top: 0.5rem;
}

.tableCell {
  overflow-wrap: break-word;
}

.buttonCell {
  width: 1%;
  white-space: nowrap;
}
