.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 12rem;
  height: 7rem;
  padding: 0.5rem;
  box-sizing: border-box;
  flex-shrink: 0;
}

.cardSuccess {
  background-color: var(--ds-color-success-base-default);
  color: var(--ds-color-success-base-contrast-default);
}

.cardDanger {
  background-color: var(--ds-color-danger-base-default);
  color: var(--ds-color-danger-base-contrast-default);
}
