.typeCell{
    width: 5rem;
}

.statusCell{
    min-width: 20rem;
    overflow-y: auto;
}

.mottakerCell{
    width: 20rem;
}

.notifIdCell{
    min-width: 25rem;
}

.row{
    height: 3rem;
}

.searchField{
    margin-bottom: 0.5rem;
}

.searchField :hover {
    outline: none;
}
.searchField :focus {
    outline: none;
}